1. Place *{{parts.wss.descriptionSelected}}* in *{{tools.jig.description}}* with label facing “out” (toward window in *{{tools.jig.description}}*)
2. Slide *{{parts.wss.description}}* into *{{tools.jig.description}}* until its label aligns can be seen through the window in *{{tools.jig.description}}*
3. Bend *{{parts.wss.description}}* leads down along *{{tools.jig.description}}*
4. Place *{{parts.wss.description}}* pins through holes in *{{parts.trrs-board.descriptionSelected}}* with the jack facing up
5. Align *{{parts.trrs-board.description}}* with lip on *{{tools.jig.description}}*
6. Bend *{{parts.wss.description}}* leads over to fix position of *{{parts.wss.description}}* relative *{{parts.trrs-board.description}}*
7. Remove *{{parts.wss.description}}*/*{{parts.trrs-board.description}}* sub-assembly from *{{tools.jig.description}}*

# video::UJ_s2-SHfPo[youtube,height=480,width=854]
# revisit above for web outputs using md instead of adoc
See [Holoseat v1 Alpha Sensor Assembly Build Step 1](https://www.youtube.com/watch?v=UJ_s2-SHfPo) on YouTube (https://www.youtube.com/watch?v=UJ_s2-SHfPo) for more details.
