1. Place **{{parts.wss.description}}**/**{{parts.trrs-board.description}}** in **{{parts.housing-base.descriptionSelected}}**
![Sensor Subassembly in Housing Base](images/sensor-subassembly-in-housing-base.jpg)
2. Connect cable from **{{tools.test-stand.description}}** to jack on the **{{parts.trrs-board.description}}**
3. Place **{{parts.wss.description}}**/**{{parts.trrs-board.description}}**/**{{parts.housing-base.description}}** sub-assembly in sensor mount on **{{tools.test-stand.description}}**
![Sensor Subassembly Mounted on Test Stand](images/sensor-subassembly-on-test-stand.jpg)
4. Run tests - see **{{tools.test-stand.description}}** documentation for API calls/application used to run these tests (there is a CLI tool to run these tests automatically)
  1. Verify direction
    1. it should report cw when wheel turns 20 rpm cw
    2. it should report ccw when wheel turns 20 rpm ccw
  2. Verify cadence (using average cadence)
    1. it should report 30 +/- 2 when wheel turns cw at 30 rpm
    2. it should report 50 +/- 2 when wheel turns cw at 50 rpm
    3. it should report 45 +/- 2 when wheel turns cw at 45 rpm
    4. it should report 25 +/- 2 when wheel turns cw at 45 rpm
5. Take **{{parts.wss.description}}**/**{{parts.trrs-board.description}}**/**{{parts.housing-base.description}}** sub-assembly off {{tools.test-stand.description}}
