1. Apply 1 drop of **{{parts.super-glue.descriptionSelected}}** to each of the 4 corners of the inset portion of the **{{parts.housing-top.descriptionSelected}}**
2. Place *{{parts.housing-top.description}}* on top of *{{parts.housing-base.description}}*
![Housing Top in Place](images/housing-top-in-place.jpg)
3. Press **{{parts.housing-top.description}}** into **{{parts.housing-base.description}}** until it clicks into place and sits flush on the **{{parts.housing-base.description}}**
![Housing Top Attached to Housing Base](images/housing-top-attached.jpg)
4. Add **{{parts.adhesive-tape.descriptionSelected}}** to **{{parts.housing-base.description}}**
  1. Clean the bottom of the **{{parts.housing-base.description}}** with **{{parts.alcohol.descriptionSelected}}** using a **{{parts.cotton-ball.descriptionSelected}}**
  2. Wait for the **{{parts.alcohol.description}}** to dry
  3. Cut the **{{parts.adhesive-tape.descriptionSelected}}** to length ({{parts.adhesive-tape.notes}})
  4. Apply **{{parts.adhesive-tape.description}}** to the bottom of the **{{parts.housing-base.description}}**
![Adhessive Applied](images/adhesive-applied.jpg)
  5. Press **{{parts.housing-base.description}}** firmly onto a flat surface for 60 seconds to secure the **{{parts.adhesive-tape.description}}**
  6. Trim excess tape off of **{{parts.housing-base.description}}** with the **{{tools.scissors.description}}**
![Adhesive Trimmed](images/adhesive-trimmed.jpg)
