1.. Place **{{parts.wss.description}}**/**{{parts.trrs-board.description}}** sub-assembly in **{{tools.helping-hands.description}}**
![Sensor TRSS Mounted in Helping Hands](images/sensor-trrs-in-helping-hands.jpg) 
2. Solder all 4 **{{parts.wss.description}}** leads to their pins on the **{{parts.trrs-board.description}}** (be sure to use the **{{tools.fume-extractor.description}}** while soldering)
3. Use the **{{tools.flush-snips.description}}** to trim back excess leads from **{{parts.wss.description}}**
![Sensor Leads Soldered and Trimmed](images/soldered-sensor-leads-trimmed.jpg)
